body {
  font-family: "Arial", sans-serif;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  color: #333;
}

h1 {
  color: #2c3e50;
  margin-bottom: 20px;
  text-align: center;
  font-size: 2.5rem;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 10px;
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cell {
  width: 100px;
  height: 100px;
  background-color: #ecf0f1;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cell:hover {
  background-color: #d5dbdb;
}

.cell.x::before {
  font-size: 3rem;
  content: "X";
  color: #3498db;
}

.cell.o::before {
  font-size: 3rem;
  content: "O";
  color: #e74c3c;
}

.winning-message {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  z-index: 10;
}

.winning-message.show {
  display: flex;
}

.winning-message div {
  font-size: 2rem;
  margin-bottom: 20px;
}

#restartButton {
  background-color: #27ae60;
  color: #fff;
  border: none;
  padding: 15px 30px;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#restartButton:hover {
  background-color: #219653;
}

.cell,
#restartButton {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
