/* 루트 요소에 기본 font-size 설정 */
:root {
  font-size: 18px; /* 기본 크기 */
}

/* 전체 페이지 스타일 */
body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

/* 메인 컨테이너 스타일 */
.container {
  text-align: center;
  background-color: white;
  padding: 1rem;
  border-radius: 0.625rem;
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
  width: auto;
  height: auto;
  min-width: 17.5rem;
  max-width: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* 제목 스타일 */
h1 {
  color: #333;
  font-size: 1.8rem;
}

/* 로또 번호 컨테이너 스타일 */
#lotto-numbers {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* 개별 로또 번호 스타일 */
.number {
  width: 3.125rem;
  height: 3.125rem;
  color: #333;
  background-color: #ffd700;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0.5rem;
}

/* 번호 생성 버튼 스타일 */
#generate-btn {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 0.625rem 1.25rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  margin: 1.25rem;
  cursor: pointer;
  border-radius: 0.3125rem;
}

#logo {
  border-radius: 0.625rem;
  max-width: 100%;
  height: auto;
}

/* 반응형 디자인을 위한 미디어 쿼리 */
@media screen and (max-width: 768px) {
  :root {
    font-size: 14px;
  }
}

@media screen and (max-width: 480px) {
  :root {
    font-size: 12px;
  }
}
