body {
  font-family: Arial, sans-serif;
  background-color: #2ca6b0;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 2vw;
}

.container {
  background-color: #ffffff;
  color: #333333;
  border-radius: 12px;
  padding: 30px;
  width: 400px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #2ca6b0;
}

.output {
  display: flex;
  margin-bottom: 20px;
}

#password-output {
  flex-grow: 1;
  padding: 12px;
  font-size: 16px;
  border: 2px solid #2ca6b0;
  border-radius: 6px 0 0 6px;
  outline: none;
}

#copy-btn {
  padding: 12px 20px;
  background-color: #2ca6b0;
  color: white;
  border: none;
  border-radius: 0 6px 6px 0;
  cursor: pointer;
  transition: background-color 0.3s;
  white-space: nowrap;
}

#copy-btn:hover {
  background-color: #238e97;
}

.options .option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.length-option {
  margin-top: 20px;
}

.length-display {
  text-align: center;
  font-size: 18px;
  margin-bottom: 10px;
}

.slider-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.min-length,
.max-length {
  font-size: 14px;
  color: #666;
}

#length {
  flex-grow: 1;
  margin: 0 10px;
  -webkit-appearance: none;
  width: calc(100% - 70px);
  height: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s;
  border-radius: 5px;
}

#length:hover {
  opacity: 1;
}

#length::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #2ca6b0;
  cursor: pointer;
  border-radius: 50%;
}

#length::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #2ca6b0;
  cursor: pointer;
  border-radius: 50%;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 19px;
  width: 19px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2ca6b0;
}

input:checked + .slider:before {
  transform: translateX(25px);
}

#generate-btn {
  width: 100%;
  padding: 12px;
  background-color: #2ca6b0;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 20px;
}

#generate-btn:hover {
  background-color: #238e97;
}

#version {
  font-size: 0.9rem;
  color: #888;
  margin-top: -20px;
  margin-bottom: 30px;
  text-align: center;
  font-style: italic;
}

#copyright {
  font-size: 0.7rem;
  color: #888;
  text-align: center;
}
