---
layout: default
---
{% assign orientation = page.orientation | default: 'horizontal' %}

<article class="app-detail-container container app-orientation-{{ orientation }}">

    {% if orientation == 'vertical' %}
    <div class="app-detail-vertical-layout">
        <div class="app-player-wrapper">

            <div class="player-controls">
                <button id="fullscreen-btn" class="control-button" title="전체 화면">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="24"
                        height="24">
                        <path d="M7 14H5v5h5v-2H7v-3zm-2-4h2V7h3V5H5v5zm12 7h-3v2h5v-5h-2v3zM14 5v2h3v3h2V5h-5z" />
                    </svg>
                </button>
                <button id="toggle-size-btn" class="control-button" title="크기 전환">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                        <path fill-rule="evenodd"
                            d="M15 3.75a.75.75 0 01.75.75v15a.75.75 0 01-1.5 0V4.5a.75.75 0 01.75-.75zM9 3.75A.75.75 0 008.25 4.5v15a.75.75 0 001.5 0V4.5A.75.75 0 009 3.75zM3.75 9a.75.75 0 01.75-.75h15a.75.75 0 010 1.5h-15a.75.75 0 01-.75-.75zm.75 5.25a.75.75 0 000 1.5h15a.75.75 0 000-1.5h-15z"
                            clip-rule="evenodd" />
                    </svg>
                </button>
            </div>

            <div class="app-player">
                <iframe id="app-iframe" src="{{ page.app_folder | append: 'index.html' | relative_url }}"
                    frameborder="0" allowfullscreen scrolling="no"></iframe>
            </div>
        </div>
        <section class="app-content">
            {{ content }}
        </section>
    </div>

    {% else %}
    <div class="app-detail-columns">
        <div class="app-detail-column-player">
            <div class="player-controls">
                <button id="fullscreen-btn" class="control-button" title="전체 화면">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="24"
                        height="24">
                        <path d="M7 14H5v5h5v-2H7v-3zm-2-4h2V7h3V5H5v5zm12 7h-3v2h5v-5h-2v3zM14 5v2h3v3h2V5h-5z" />
                    </svg>
                </button>
                <button id="toggle-size-btn" class="control-button" title="크기 전환">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                        <path fill-rule="evenodd"
                            d="M15 3.75a.75.75 0 01.75.75v15a.75.75 0 01-1.5 0V4.5a.75.75 0 01.75-.75zM9 3.75A.75.75 0 008.25 4.5v15a.75.75 0 001.5 0V4.5A.75.75 0 009 3.75zM3.75 9a.75.75 0 01.75-.75h15a.75.75 0 010 1.5h-15a.75.75 0 01-.75-.75zm.75 5.25a.75.75 0 000 1.5h15a.75.75 0 000-1.5h-15z"
                            clip-rule="evenodd" />
                    </svg>
                </button>
            </div>
            <div class="app-player">
                <iframe id="app-iframe" src="{{ page.app_folder | append: 'index.html' | relative_url }}"
                    frameborder="0" allowfullscreen scrolling="no"></iframe>
            </div>
        </div>
        <div class="app-detail-column-content">
            <section class="app-content">
                {{ content }}
            </section>
        </div>
    </div>
    {% endif %}

    <div class="back-link-container">
        <a href="{{ '/' | relative_url }}" class="back-link">&larr; 앱 목록으로 돌아가기</a>
    </div>

</article>